main {
	display: flex;
	gap: 1rem;
}

.sm-field-group {
	margin: 0 0 1rem 0;
}

.sm-field-group label {
	display: block;
	margin: 0 0 3px 0;
}



nav {
	background-color: #F2F2F2;
	padding: 1rem;
	min-width: 12rem;
}

nav li:first-child {
	border-top: solid 1px #CCC;
}

nav li {
	cursor: pointer;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin: 0 0 0 0;
	border-bottom: solid 1px #CCC;
}

nav li:hover {
	background-color: #BBB;
	color: #FFF;
}

input[type=submit] {
	cursor: pointer;
}

.sm-table-button {
	cursor: pointer;
}
